@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1720px;
    }
}

.select2-dropdown {
    z-index: 9001;
<<<<<<< HEAD
}

.popover {
    max-width: 100%;
}
=======
 }
>>>>>>> d1bf14b65dd5edbd280c53c5e2c8b5af19ac1f3d
