@media (min-width: 576px) {
    .container {
        max-width: 1920px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 1920px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1920px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1920px;
    }
}

.select2-dropdown {
    z-index: 9001;
}

.popover {
    max-width: 100%;
}

div.ui-datepicker {
    width: 100%;
    line-height: 1em;
}

// Radio buttons
.funkyradio {
    div {
        clear: both;
        overflow: hidden;
    }
    label {
        width: 100%;
        height: 30px;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
        overflow: hidden;
    }
    input[type="radio"],
    input[type="checkbox"] {
        &:empty {
            display: none;
            ~label {
                position: relative;
                line-height: 2.0em;
                text-indent: 3.25em;
                margin-top: 0;
                cursor: pointer;
                user-select: none;
                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: #D1D3D4;
                    border-radius: 3px 0 0 3px;
                }
            }
        }
        &:hover:not(:checked)~label {
            color: #888;
            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }
        }
        &:checked~label {
            color: #777;
            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }
        }
        &:focus~label:before {
            box-shadow: 0 0 0 3px #999;
        }
    }
    &-default {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #333;
                background-color: #ccc;
            }
        }
    }
    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #fff;
                background-color: #337ab7;
            }
        }
    }
    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }
    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #fff;
                background-color: #d9534f;
            }
        }
    }
    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #fff;
                background-color: #f0ad4e;
            }
        }
    }
    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked~label:before {
                color: #fff;
                background-color: #5bc0de;
            }
        }
    }
}

//

//Table

